/*ce qui s'applique à l'ensemble du site*/
html{
    font-family: "Raleway";
}

html p{
font-size : 12px;
}

html, body {
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
}

/*partie header*/
.navbar ol{
    list-style-type: none;
    padding-left: 0;
}

.item{
    display: inline-block;
    text-align: right;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

/*partie recherche du site web*/

.container1{
    max-width: 100%;
}

.filters{
    display: flex;
    justify-content:space-evenly;
}

.container{
    max-width: 100%;
}

/*Partie avec l'ensemble des hébergements proposés*/
.container2{
    display: flex;
    justify-content:space-around;
    max-width: 100%;
}

.lodging{
    background-color: #F2F2F2;
    max-width: 70%;
    max-height: 80%;
    border-radius: 15px;
}

.block-card-top{
    display : flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.block-card-bottom{
    display : flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card{
    background-color: white;
    max-width: 30%;
    max-height: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #EAEAEA;
}

.card-text span{
    font-weight: bold; 
}

.card-img-top{
    object-fit: cover;
    max-width: 96%;
    max-height: 30%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 5px;  
    margin-left:5px; 
}

.card-stars{
    font-size : 9px;
}

.block-card-right{
    background-color: #F2F2F2;
    max-width: 25%;
    max-height: 80%;
    border-radius: 15px;
}

.card-1{
    display: flex;
    background-color: white; 
    max-width: 95%;
    max-height: 30%;
    border-radius: 15px; 
    box-shadow: 5px 5px 5px #EAEAEA;
}

.card-img-left{
    object-fit: cover;
    max-width: 80%;
    max-height: 25%;
}

.container3{
    display: flex;
    justify-content:space-around;
    max-width: 100%;
}

.container3-left{
    display:flex;
    justify-content:space-around;
    max-width: 45%;
}

.container3-right{
    display:flex;
    justify-content:space-between;
    max-width: 45%;
}

.card-left{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #EAEAEA;
}

.card-right{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    max-height: 45%;
    margin-left:30px;
}

.card-right-1{
    max-width: 100%;
    max-height: 90%; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px #EAEAEA;
    margin-bottom: 30px;
}

.card-right-2{
    max-width: 100%;
    max-height: 90%; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px #EAEAEA;
}

.card-img-top-left{
    object-fit: cover;
    max-width: 100%;
    max-height: 90%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-img-top-right{
    object-fit: cover;
    max-width: 100%;
    max-height: 90%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/*partie footer*/

.legalnotice{
    display: flex;
    justify-content:space-around;
    background-color:#F2F2F2;
}

.legalnotice-title{
    font-weight: bold;   
}